<div class="container">
    <div class="first__container">
        <h2 class="container__header">
            Decide the work you want to do
        </h2>
        <div class="work__types">

           <div class="work__contents">
            <img src="/images/Frame 701801.png" alt="">
            <div class="text__content">
                <h4 class="text__header">Customers submit project request</h4>
                <p class="text">
                    We work with customers to help them elaborate on their requirements
                    making details clearer and including measurements wherever possible
                </p>
            </div>
           </div> 

           <div class="work__contents">
            <img src="/images/Frame 701803.png" alt="">
            <div class="text__content">
                <h4 class="text__header">Write an estimate</h4>
                <p class="text">
                   Estimates are written to our websites and deliverd to customers. this 
                   saves you money by not requiring seperate estimation and invoicing software
                   you can reach out to the customer (for free) for example if you have
                   any question about the job or if you need to visit their property to inspect the work 
                   to be done in advance of writing any estimates.
                </p>
            </div>
           </div> 

           <div class="work__contents">
            <img src="/images/Frame 701802.png" alt="">
                <div class="text__content">
                    <h4 class="text__header">Undertake the work</h4>
                    <p class="text">
                      If the customer is happy with the estimate the project is yours!
                    </p>
                </div>

           </div> 

           <div class="work__contents">
            <img src="/images/Frame 701804.png" alt="">
                    <div class="text__content">
                        <h4 class="text__header">Get paid by the customer</h4>
                        <p class="text">
                            As soon as the customer makes a payment. Money is sent to your UK
                            Bank Account.
                        </p>
                    </div>
           </div>

        </div>
    </div>
 </div>