<footer class="joint">
    <nav class="footer">
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a class="footer-type" href="#">About us</a>
            </li>
            <li class="main-footer__link">
                <a class="footer-type" href="#">Contact us</a>
            </li>
            <li class="main-footer__link out-field">
                <a class="footer-type" href="#">Privacy policy</a>
            </li>
            <li class="main-footer__link out-field">
                <a class="footer-type" href="#">Terms and condition</a>
            </li>
        </ul>
    </nav>
    <div class="copywright">
        <p>copywright 2024 Fixmybiuld ltd all right reserved</p>
    </div>
</footer>