<header>
        
    <ul class="navbar">
        <li><a href="#">Start</a></li>
        <li><a href="#">Sevices</a></li>
        <li><a href="#">Search Trades</a></li>
        <li><a href="#">Guide</a></li>
    </ul>

    <a href="#" class="logo"><img src="images/logo (2) 2.png" alt="logo"></a>

    <div class="resource">
        <a  href="#"><img src="images/user-icon.png" alt="">Login</a>
        <a class="reg"  href="#">Register</a>
        <img class="menu-icon" src="images/Hamburger.png" alt="">
        
    </div>
</header>