<div class="testimonial">
    <div class="testimonial__container">
        <h2 class="top">Testimonials</h2>
       <div class="testimonial__grid">
        <div class="testimonial__content">
            <p class="testimonial__text">Estimates are written to our websites and deliverd to customers. 
                This saves your money by not requiring seperate estimation and invoicing software</p>
            <h3 class="name">Kyla Hermon</h3>
        </div>
        <div class="testimonial__content cut-out">
            <p class="testimonial__text">Estimates are written to our websites and deliverd to customers.
                 This saves you money by not requiring seperate estimation and invoicing software</p>
            <h3 class="name">Ryan Menzie</h3>
        </div>
        <div class="testimonial__content cut-out">
            <p class="testimonial__text">Estimates are written to our websites and deliverd to customers.
                This saves you money by not requiring seperate estimation and invoicing software</p>
            <h3 class="name third--name">Aldrich Fowler</h3>
        </div>
       </div> 
    </div>
   </div>